<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

      <table id="myCanvas" style="width: 100%;line-height: normal;">
            <tbody>
                <tr>
                    <td style="width: 100%; background-color: rgb(243, 121, 52); border: 1px solid rgb(243, 121, 52);"><span style="font-size: 36px; color: rgb(255, 255, 255);"><strong>&nbsp;</strong></span><span style="font-size: 24px; color: rgb(255, 255, 255);"><strong><span style="font-family: Verdana, Geneva, sans-serif;">Wanted Bride</span></strong></span></td>
                </tr>
                <tr>
                    <td style="width: 100%; background-color: rgb(247, 218, 100); border: 1px solid rgb(247, 218, 100);">
                        <div style="text-align: center;"><span style="font-size: 18px; color: rgb(40, 50, 78); font-family: Georgia, serif;">The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled&nbsp;</span><span style="font-family: Georgia,serif;"><span style="color: rgb(40, 50, 78);"><em><span style="font-size: 18px;">Lorem ipsum</span></em><span style="font-size: 18px;">, or <em>lipsum</em> as it is sometimes known, is dummy text used in laying out print, graphic or web designs. &nbsp;</span></span></span><span style="font-size: 18px; color: rgb(40, 50, 78); font-family: Georgia, serif;">The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled .</span></div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%; background-color: rgb(243, 121, 52); border: 1px solid rgb(243, 121, 52);">
                        <div style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: rgb(255, 255, 255); font-family: Georgia, serif; font-size: 18px;">Email id: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;amanyadav@gmail.com &nbsp;Contact:&nbsp;</span><span style="color: rgb(255, 255, 255); font-family: Verdana, Geneva, sans-serif; font-size: 18px;">1234567890</span></div>
                    </td>
                </tr>
            </tbody>
      </table>



      <table id="myCanvas" style="width: 100%;line-height: normal;">
        <tbody>
            <tr>
                <td style="width: 100%; background-color: rgb(252, 200, 13); text-align: center; border: 1px solid rgb(252, 200, 13);">
                    <div class="fr-text-spaced"><img src="/static/img/layouteditor/l-1.png" style="width: 104px;" class="fr-fic fr-dib"></div>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; background-color: rgb(0, 0, 0); text-align: center; border: 1px solid rgb(0, 0, 0);"><span style="font-size: 30px; font-family: Georgia, serif;"><span style="color: rgb(255, 255, 255);">REQUIRED</span></span></td>
            </tr>
            <tr>
                <td style="width: 100%; background-color: rgb(252, 200, 13); text-align: center; vertical-align: middle; border: 1px solid rgb(252, 200, 13);">
                    <div data-empty="true"><span style="font-size: 24px; color: rgb(209, 72, 65);"><u><span style="font-family: Georgia,serif;">Sales Executive:</span></u></span></div><span style="font-size: 24px; font-family: Georgia, serif;">in Rajasthan</span>
                    <br>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; background-color: rgb(252, 200, 13); text-align: center; border: 1px solid rgb(252, 200, 13);"><span style="font-size: 18px; color: rgb(209, 72, 65); font-family: Georgia, serif;">Salary:</span><span style="font-size: 18px; color: rgb(0, 0, 0); font-family: Georgia, serif;">&nbsp;</span><span style="font-size: 18px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">10 - 15</span><span style="font-size: 18px; color: rgb(0, 0, 0); font-family: Georgia, serif;">K TA DA</span>
                    <br><span style="font-family: Georgia,serif;">with tremendous growth<br>opportunity</span>.</td>
            </tr>
            <tr>
                <td style="width: 100%; background-color: rgb(252, 200, 13); text-align: center; border: 1px solid rgb(252, 200, 13);"><img src="/static/img/layouteditor/l-2.png" style="width: 78px;" class="fr-fic fr-dib"></td>
            </tr>
            <tr>
                <td style="width: 100%; background-color: rgb(252, 200, 13); text-align: center; border: 1px solid rgb(252, 200, 13);"><span style="font-family: Georgia, serif; font-size: 18px; color: rgb(209, 72, 65);">Diamond PVT. LTD.</span>
                    <br><span style="font-family: Georgia, serif; font-size: 14px; color: rgb(40, 50, 78);">www.Diamod.com</span><span style="color: rgb(40, 50, 78);"><br></span><span style="font-family: Georgia, serif; font-size: 14px; color: rgb(40, 50, 78);">send your resume on</span>
                    <br><span style="font-family: Georgia, serif; font-size: 14px; color: rgb(40, 50, 78);">aman123@gmail.com</span>
                    <br><span style="font-family: Georgia, serif; font-size: 24px; color: rgb(40, 50, 78);">Mo:&nbsp;</span><span style="font-family: Arial, Helvetica, sans-serif; font-size: 24px; color: rgb(40, 50, 78);">1234567890</span>
                    <br>
                </td>
            </tr>
        </tbody>
      </table>

      
      <table id="myCanvas" style="width: 100%;line-height: normal;">
        <tbody>
            <tr>
                <td style="width: 100%; background-color: rgb(44, 130, 201); text-align: center; border: 1px solid rgb(44, 130, 201);"><span style="font-size: 24px; font-family: Georgia, serif;"><strong><span style="color: rgb(255, 255, 255);">Buy / Sell / Rent</span></strong></span></td>
            </tr>
            <tr>
                <td style="width: 100%; background-color: rgb(44, 130, 201); text-align: center; border: 1px solid rgb(44, 130, 201);"><span style="color: rgb(255, 255, 255); font-size: 18px;">Location:</span>
                    <br><span style="color: rgb(255, 255, 255); font-size: 24px; font-family: Georgia, serif;">Delhi / Noida</span></td>
            </tr>
            <tr>
                <td style="width: 100%; background-color: rgb(247, 218, 100); text-align: justify; border: 1px solid rgb(247, 218, 100);">
                    <div data-empty="true" style="text-align: left;"><span style="color: rgb(40, 50, 78);">&nbsp;</span></div>
                    <div data-empty="true" style="text-align: left;"><span style="color: rgb(40, 50, 78);"><span style="font-size: 14px;">&nbsp;1 SBI Bank - 1,000,000</span></span></div>
                    <div data-empty="true" style="text-align: left;"><span style="font-size: 14px;"><span style="color: rgb(40, 50, 78);">&nbsp;2 Atm - 1,11,000</span></span></div>
                    <div data-empty="true" style="text-align: left;"><span style="font-size: 14px;"><span style="color: rgb(40, 50, 78);">&nbsp;3 Multiplex - 2,23,000</span></span></div>
                    <div data-empty="true" style="text-align: left;"><span style="font-size: 14px;"><span style="color: rgb(40, 50, 78);">&nbsp;4 Restaurant - 10,22,000</span></span></div>
                    <div data-empty="true" style="text-align: left;"><span style="font-size: 14px;"><span style="color: rgb(40, 50, 78);">&nbsp;5 Saloon - 20,000 &nbsp;</span></span></div>
                    <div data-empty="true" style="text-align: left;"><span style="font-size: 14px;"><span style="color: rgb(40, 50, 78);">&nbsp;6</span></span><span style="color: rgb(40, 50, 78); font-size: 14px;">&nbsp;Gen Store - 70,000</span></div>

                    <p><span style="color: rgb(44, 130, 201); font-size: 24px;"><span style="font-family: Georgia, serif;">&nbsp;</span></span><span style="color: rgb(85, 57, 130); font-size: 24px;"><span style="font-family: Georgia, serif;">Anand Basu Prop:</span></span></p>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; text-align: center; background-color: rgb(44, 130, 201); border: 1px solid rgb(44, 130, 201);"><span style="font-size: 18px; color: rgb(255, 255, 255);">Contact</span>
                    <br><span style="font-size: 30px; color: rgb(255, 255, 255);">1234567890</span><span style="font-size: 30px;"><br></span><span style="font-size: 30px; color: rgb(255, 255, 255);">1234567890</span>
                    <br>
                </td>
            </tr>
        </tbody>
      </table>

      <table id="myCanvas" style="width: 100%;line-height: normal;">
            <tbody>
                <tr>
                    <td style="width: 100%; text-align: left; background-color: rgb(249, 243, 211); border: 1px solid rgb(249, 243, 211);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Leo
                        <div style="text-align: center;"><span style="font-size: 36px; font-family: Verdana, Geneva, sans-serif;">SKYON</span></div>
                        <div style="text-align: center;"><span style="font-size: 14px; font-family: Verdana, Geneva, sans-serif; color: rgb(40, 50, 78);">M.P Jabalpur</span></div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%; background-color: rgb(249, 243, 211); border: 1px solid rgb(249, 243, 211);">
                        <div data-empty="true" style="text-align: center;"><img src="/static/img/layouteditor/l5.jpeg" style="width: 206px;" class="fr-fic fr-dib"></div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%; background-color: rgb(249, 243, 211); border: 1px solid rgb(249, 243, 211);">

                        <ul>
                            <li>1. World Class Club House</li>
                            <li>2. 5.4 Acres Gardens</li>
                            <li>3. With Swimming Pool</li>
                            <li>4. Flat with open Gallery</li>
                            <li>
                                <br>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%; background-color: rgb(92, 180, 231); text-align: center; border: 1px solid rgb(92, 180, 231);">
                        <br><span style="font-size: 18px;"><u>READY TO MOVE IN:</u><br>300+ FAMILIES<br>RESIDING</span>
                        <br>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%; background-color: rgb(249, 243, 211); text-align: center; border: 1px solid rgb(249, 243, 211);"><img src="/static/img/layouteditor/4.jpg" class="fr-fic fr-dib" alt="SKYON" style="width: 151px;"></td>
                </tr>
                <tr>
                    <td style="width: 100%; background-color: rgb(92, 180, 231); text-align: center; border: 1px solid rgb(92, 180, 231);">
                        <br><span style="font-size: 18px;">Email</span>
                        <br><span style="font-size: 18px;">aaaaaaa@gmail.com</span>
                        <br><span style="font-size: 18px;">Contact: 1234567890</span>
                        <br>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>

      <table id="myCanvas" style="width: 100%;line-height: normal;">
        <tbody>
            <tr>
                <td style="width: 100%; background-color: rgb(226, 80, 65); border: 1px solid rgb(226, 80, 65);">

                    <h4 style="text-align: center;"><span style='font-size: 24px; font-family: "Times New Roman", Times, serif, -webkit-standard; color: rgb(255, 255, 255);'>Prayer Meeting</span></h4>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; background-color: rgb(255, 246, 177); border: 1px solid rgb(255, 246, 177);">
                    <div style="text-align: center;"><span style="font-size: 24px;"><img src="/static/img/layouteditor/old.jpg" style="width: 178px;" class="fr-fic fr-dib fr-rounded fr-shadow"></span></div>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; background-color: rgb(255, 246, 177); vertical-align: top; border: 1px solid rgb(255, 246, 177);">
                    <div style="text-align: center;"><span style="font-size: 24px;"><strong><span style='font-family: "Times New Roman", Times, serif, -webkit-standard; color: rgb(226, 80, 65);'>Sir John Bravo</span></strong></span></div>
                    <div style="text-align: center;"><span style="font-size: 18px;"><span style="font-family: Georgia, serif; color: rgb(0, 0, 0);">&nbsp;&nbsp;</span><span style="font-family: Georgia, serif; color: rgb(40, 50, 78);">passed away &nbsp;peacefully &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; on</span><span style="color: rgb(40, 50, 78);"><span style="font-family: Georgia, serif;">&nbsp;11-07-2018</span><span style='font-family: "Times New Roman", Times, serif, -webkit-standard;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span><span style="font-family: Georgia, serif; color: rgb(40, 50, 78);">Uthala ceremony will be &nbsp; held on 13-07-2018 , from &nbsp;3 to 4 pm at Durga Colony , Ramesh Park , Delhi 110092</span></span></div>

                    <p style="text-align: center;"><span style="font-size: 18px;"><span style="font-family: Georgia, serif; color: rgb(40, 50, 78);"><strong>Contact Us:</strong></span><span style='font-family: "Times New Roman", Times, serif, -webkit-standard; color: rgb(40, 50, 78);'>&nbsp; &nbsp;1234567890,71234567890</span><span style='font-family: "Times New Roman", Times, serif, -webkit-standard; color: rgb(0, 0, 0);'>&nbsp;</span></span></p>
                </td>
            </tr>
        </tbody>
    </table>


</body>
</html>