{% load static %}
<div class="pb-4" id="vender_mobile_fader">
    <div class="testimonial bg-white mx-3 text-center py-4 px-4">
        <div class="mb-4 row px-4">
            <img src="{% static 'img/news/n-3.jpg' %}" class="img-fluid" style="width: 60px; height: 60px; border-radius: 50%;">
            <p class="h5 ml-3 mt-3 pt-1">John Smith</p>
        </div>
        <blockquote>
            <span class="text-left">&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</span>
        </blockquote>
    </div>

    <div class="testimonial bg-white mx-3 text-center py-4 px-4">
        <div class="mb-4 row px-4">
            <img src="{% static 'img/news/n-3.jpg' %}" class="img-fluid" style="width: 60px; height: 60px; border-radius: 50%;">
            <p class="h5 ml-3 mt-3 pt-1">John Smith</p>
        </div>
        <blockquote>
            <span class="text-left">&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</span>
        </blockquote>
    </div>

    <div class="testimonial bg-white mx-3 text-center py-4 px-4">
        <div class="mb-4 row px-4">
            <img src="{% static 'img/news/n-3.jpg' %}" class="img-fluid" style="width: 60px; height: 60px; border-radius: 50%;">
            <p class="h5 ml-3 mt-3 pt-1">John Smith</p>
        </div>
        <blockquote>
            <span class="text-left">&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</span>
        </blockquote>
    </div>

</div>